.play {

    position: absolute;
    right: 0;

    width: 80%;
    height: 100%;

    display: grid;
    grid-template-rows: 25% 40% 25% 7%;

    gap: 5px;

}

.action {

    display: grid;
    grid-template-columns:repeat(3, 1fr);

    div {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        padding: 0 10px;

    }


}


.inHand {

    background-color: rgba(0, 0, 0, 0.145);
    border-radius: 0 15px 15px 15px;

    margin: 0 10px;

}
.inHand::after {

    content: '';
    display: block;

    position: relative;

    width: 20%;
    height: 15%;

    background-color: rgba(0, 0, 0, 0.145);

    top: -15%;
    border-radius: 15px 15px 0 0;

}