@font-face {

    font-family: 'Balatro Font'; 
    src: url('../font/m6x11plus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

button, img, .swal2-close {

    font-family: 'Balatro Font', sans-serif;
    letter-spacing: 1px;
    user-select: none;
    color: white;

}

button:not(:disabled, .swal2-close) {

    cursor: pointer;
    font-size: 1.2em;
    border: none;
    box-shadow: 5px 5px 0 black;

}
button:active:not(:disabled, .swal2-close) {

    transform: translate(5px, 5px);
    box-shadow: 2px 2px 0 black;

}

.settingsSwalContainer {

    position: absolute;
    height: 100vh;
    grid-template-rows: 0.5fr 5fr 0.5fr;

    .settingsSwalPopup {

        grid-template-rows: 0.25fr 0.25fr 5fr 0.25fr;
        height: 100%;
        border: 5px solid #90ACB4;

        overflow: hidden;
        
        #swal2-html-container {

            overflow: hidden;

        }

    }


}

.collectionSwalContainer {

    position: absolute;
    height: 100vh;
    grid-template-rows: 0.5fr 3fr 0.5fr;

    .collectionSwalPopup {

        grid-template-rows: 0.25fr 0.25fr 3fr 0.25fr;
        height: 100%;
        border: 5px solid #90ACB4;
        
        #swal2-html-container {

            height: 100%;
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }

    }

}

.swal2-title, .swal2-footer {

    color: white;

}

.settingsSwal {

    height: 100%;
    overflow-y: scroll;

    border: solid 3px #DF2525;
    border-radius: 15px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5vh;

    box-sizing: border-box;
    padding: 2.5vh 0;


    h2, h4, h5, span {

        margin: 0;
        color: white;

    }

    h4 {

        margin: 10px 0;

    }

    .settingContainer {

        display: grid;
        box-sizing: border-box;
        padding: 0 20%;

    }

    #buttonsPosContainer {

        grid-template-rows: 1fr 1.5fr;

        #buttonsPos {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .radioButtonPos {

                background-color: #DF2525;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 15px;

                font-size: 1.2em;

                transform: translate(0, 0);

                cursor: pointer;

                border: none;
                box-shadow: 5px 5px 0 black;

                user-select: none;

            }
            .radioButtonPos.selected {

                background-color: #971010;
                transform: translate(5px, 5px);
                box-shadow: 2px 2px 0 black;

            }

            input {

                display: none;

            }

        }

    }

    .sliderWrap {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 10px;

        input {

            -webkit-appearance: none;
            height: 15px;
            border-radius: 5px;

            border-radius: 50px;
            overflow: hidden;
            cursor: grab;

        }
        input:active {

            cursor: grabbing;

        }

        input::-webkit-slider-runnable-track {
            background: #141F20;
        }
        input::-moz-range-track {
            background: #141F20;
            height: 100%;
        }

        input::-webkit-slider-thumb {

            -webkit-appearance: none;
            appearance: none;

            width: 25px;
            height: 25px;
            border-radius: 50%; 

            background: #DF2525;
            box-shadow: -100vw 200px 10px 100vw #971010;

        }
        input::-moz-range-thumb { 

            -moz-appearance: none;
            appearance: none;

            width: 25px;
            height: 25px;
            border-radius: 50%; 

            background: #DF2525;
            box-shadow: -100vw 200px 10px 100vw #971010;

        }

        
        span {

            background-color: #141F20;
            color: white;
            font-size: 1em;

            border-radius: 10px;

        }

    }

}

.settingsSwal::-webkit-scrollbar {

    width: 10px;
    height: 10px;

}

.settingsSwal::-webkit-scrollbar-thumb{

    background-color: #DF2525;
    border-radius: 5px;

}

.collectionSet {

    height: 100%;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
    gap: 5px;

    .miniCollectionSet, #consumableCollectionSet, #cardsCollectionSet {

        display: grid;
        height: 100%;
        box-sizing: border-box;
        gap: 10px;

        button {

            background-color: #DF2525;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 15px;

            font-size: 1.2em;

            transform: translate(0, 0);

            cursor: pointer;

            border: none;
            box-shadow: 5px 5px 0 black;

            user-select: none;

        }
        button:active {

            background-color: #971010;
            transform: translate(5px, 5px);
            box-shadow: 2px 2px 0 black;

        }

        #col3 {

            background-color: #9E74CE;

        }
        #col3:active {

            background-color: #5F3F83;

        }

        #col4 {

            background-color: #03A4C7;

        }
        #col4:active {

            background-color: #05718A;

        }

        #col5 {

            background-color: #2E76FD;

        }
        #col5:active {

            background-color: #2151AC;

        }

    }

    .miniCollectionSet {

        padding: 10px;
        grid-template-rows: repeat(3, 1fr);

    }

    #consumableCollectionSet, #cardsCollectionSet {

        position: relative;

        height: 100%;

        padding: 6px;
        background-color: #141F20;
        border-radius: 10px;

        h4 {

            position: absolute;
            margin: 0;

            top: 50%;


            white-space: nowrap;

            transform-origin: center;

        }

    }

    #consumableCollectionSet {

        grid-template-columns: 1fr 4fr;

        h4 {

            left: clamp(2vw, 2.5vw, 3vw);

            transform: translate(-50%, -50%) rotate(-90deg);

        }

    }

    #cardsCollectionSet {

        grid-template-columns: 4fr 1fr;

        h4 {

            right: clamp(2vw, 2.5vw, 3vw);

            transform: translate(50%, -50%) rotate(-90deg);

        }

    }

}

.collectionTabPopup {

    grid-template-rows: 0.25fr 0.25fr 3fr 0.25fr 0.25fr;

    .swal2-html-container {

        overflow: hidden;
        height: 100%;
        box-sizing: border-box;

    }
    

}

.bigContCol {

    position: relative;
    width: 100%;
    height: 100%;

}

.holder {

    font-size: 1rem;

    overflow-y: hidden;
    overflow-x: auto;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 12px;

    height: 100%;
    padding: 0 12px 10vh;
    box-sizing: border-box;


    .cardsRow {

        width: 100%;

        place-items: center;

        display: grid;
        column-gap: 7px;

    }

    .cardsRow.row4{
        
        grid-template-columns: repeat(4, 1fr);


    }

    .cardsRow.row5{

        grid-template-columns: repeat(5, 1fr);

        padding: 0 15px;
        box-sizing: border-box;


    }


}

#holder6 {

    grid-template-rows: repeat(2, 1fr);

}